.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/farm-lice/
#/data/spawner-recruit/
#/data/wild-lice/
/outputs/model-outputs/bayes-alt-model-con-unit-no-area-ob.qs
/outputs/model-outputs/bayes-alt-model-all-re-ob.qs
/outputs/model-outputs/bayes-alt-model-all-re-ob.qs
/outputs/model-outputs/raw-model-obs/
/outputs/model-outputs/pink/
/outputs/model-outputs/chum/
